extends _layouts/base

include _modules/link/link

block head
  title Digital & You

block content
  div(data-sticky-container='')
    .title-bar.sticky(data-sticky='', data-options='marginTop:0;')
      p.title-bar-left
        a(href='#')
          img(src='images/logo_dyou.svg', alt='Accueil', width='100')
      .title-bar-right
        a(href='https://www.facebook.com/DigitalYou')
          img(src='images/facebook.png', alt='Facebook')
        a(href='https://www.linkedin.com/company/digital-&-you')
          img(src='images/linkedin.png', alt='LinkedIn')
        a(href='https://twitter.com/DigitalandYou')
          img(src='images/twitter.png', alt='Twitter')
  #titleCard
    h1
      img(src='images/logo_dyou.svg', alt='Digital & you')
    h1 Change the code
  .row.align-middle.align-center
    h2.column.small-10.medium-6.large-4 Clients
    .column.small-2.medium-6.large-8
      hr
  ul.row.align-center.align-middle.small-up-2.medium-up-3.large-up-4
    mixin client(spec)
      li.column
        img(src='images/logo_clients/#{spec.logo}', alt='#{spec.name}')
    for clientspec in site.data.dyou.clientspecs
      +client(clientspec)
  h2 Technologies
  ul#technologies.row.align-center.align-middle.small-up-2.medium-up-3.large-up-4
    mixin tech(techspec)
      li.column
        img(src='images/logo_techs/#{techspec.logo}', alt='')
        p #{techspec.name}
    for techspec in site.data.dyou.techspecs
      +tech(techspec)
  h2 Suivez-nous
  ul#tweets.row.align-center.align-middle.small-up-3.medium-up-4.large-up-6
    mixin tweet()
      li.column
        .tweet&attributes(attributes)
          img.icon(src='images/icone_twitter.png', alt='Depuis Twitter')
          img(src='images/garage56.jpg', alt='Garage 56')
          p Lorem ipsum sed erat, dolor sit…
    - var tweetn = 0;
      while tweetn < 12
        +tweet()(id="tweet#{tweetn++}")
  h2 Témoinages de devs
  .row.align-center.align-middle
    mixin temoignage(spec)
      .media-object.column.small-12.medium-12.large-6
        .media-object-section
          img(src='images/devs/#{spec.shortname}.png')
        .media-object-section.main-section
          h3 #{spec.title}
          blockquote
            p #{spec.contents}
          cite #{spec.devname}, #{spec.devage} ans
    +temoignage({"devname":"Jean-Paul",
      "shortname":"jp", devage:22,
      "title":"Le projet de mes rêves",
      "contents":"Nihil morati post haec militares avidi saepe turbarum" +
      "adorti sunt Montium primum, qui divertebat in proximo," +
      "levi corpore senem atque morbosum."})
  h2 Découvrir Digital & You
  h2 Votre choix
  h2 Nous rencontrer
  div
    p Digital & You
    p Cabinet de conseil et recrutement digital
  div
    p Bureaux parisiens
    p 14 Bodivevard Montmatrte, 75009 Paris
    p Email: contact@digitalandyou.com
    p Tel: 01 82 28 49 40 | Fax: 01 75 43 34 28
